<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="card card-body">
            
            
                {% for agent in agents %}
                    <div class="row">
                        <div class="col-sm">
                            <strong>Name:</strong>
                            {{agent.name}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <strong>Agent ID:</strong>
                            {{agent.agent_id}}
                        </div>
                    </div>
                </br>
                    <div class="row">
                        <div class="col-sm">
                            <div class="card" style="width: 10rem;">
                                <div class="card-header">
                                    <strong>QA:</strong> 
                                </div>
                                <div class="card-body">
                                    {{agent.qa}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: 10rem;">
                                <div class="card-header">
                                    <strong>CE:</strong> 
                                </div>
                                <div class="card-body">
                                    {{agent.ce}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: 10rem;">
                                <div class="card-header">
                                    <strong>CSAT:</strong> 
                                </div>
                                <div class="card-body">
                                    {{agent.csat}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: 10rem;">
                                <div class="card-header">
                                    <strong>AHT:</strong> 
                                </div>
                                <div class="card-body">
                                    {{agent.aht}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card" style="width: 10rem;">
                                <div class="card-header">
                                    <strong>HC:</strong>
                                </div>
                                <div class="card-body">
                                    {{agent.hc}}%
                                </div>
                            </div>
                        </div>
                      </div>
                {% endfor %}
                    </br>
                <a class="btn btn-light" href="/home">Go Back<span class="sr-only"></span></a></td>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>